__pycache__/
*.py[cod]
*.zip



# 특정 폴더 제외
백업/
dll/
gpiotest/
1121/
sindorico/
RPi2_26.02/

# 모든 zip 파일 제외
*.zip
*.txt
*.whl
.venv/
.env


# 강제로 추가하기
# git add -f [파일명]

# '백업' 폴더 전체를 무시하지만
# 백업/

# '백업' 폴더 안의 'important.txt'는 제외하지 마라
# !백업/important.txt